<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Children - #{current_partner.name}" %>
        <h1><i class="fa fa-child"></i>&nbsp;&nbsp;
          Children
          <small>for <%= current_partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-home fa-lg"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="#">Children</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-primary">
            <h3 class="card-title">Filters</h3>
          </div>
          <div class="card-body">
            <%= form_tag(children_path, method: :get) do |f| %>
              <div class="row">
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <%= label_tag "by Guardian Name Includes", "Guardian Name Includes:" %>
                  <%= text_field(:filters, :guardian_name_includes, value: params.dig(:filters, :guardian_name_includes), class: "form-control") %>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <%= label_tag "by Child Name Includes", "Child's Name Includes:" %>
                  <%= text_field(:filters, :child_name_includes, value: params.dig(:filters, :child_name_includes), class: "form-control") %>
                </div>
              </div>
              </div><!-- /.row -->
              <div class="card-footer">
                <%= filter_button %>
                <%= cancel_button_to children_path %>
                <span class="float-right">
            <%= link_to 'Export a CSV file', children_path(nil, format: :csv), class: "btn btn-info" %>
          </span>
            <% end # form %>

            </div>

            <!-- /.card -->
            </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Active</th>
                <th scope="col">Guardian</th>
                <th scope="col">Comments</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <% @children.each do |child| %>
                <tr>
                  <td><%= child.last_name %></td>
                  <td><%= child.first_name %></td>
                  <td><%= child.date_of_birth %></td>
                  <td><%= child.active ? "Yes" : "No" %></td>
                  <td><%= child.family.guardian_display_name %></td>
                  <td><%= child.comments %></td>
                  <td><%= link_to 'View Child Details', child, class: "btn btn-sm btn-info" %></td>
                  <td><%= link_to 'Edit Child Details', edit_child_path(child), class: "btn btn-sm btn-success pull-right" %>
                  </td>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Adding Children</h3>
          </div>
          <div class="card-body">

            Children must be added from their individual families to prevent accidentally associating the child with the
            wrong
            family in a situation where there are many families with similar names. Visit the family list below to view
            and
            confirm the family to which you would like to add a new child.


          </div>
          <div class="card-footer">
            <%= link_to 'Visit Family List', families_path, class: "btn btn-info" %>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</section>

