<div class="app-title">
  <div>
    <h1><i class="fa fa-edit"></i> Editing Organization &nbsp<span class="badge badge-pill badge-primary float-right"><%= @partner.partner_status %></span></h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item">Organization</li>
    <li class="breadcrumb-item"><a href="#">Editing Details</a></li>
  </ul>
</div>
<%= form_with(model: partner, local: true) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="tile">
        <h3 class="tile-title">Agency Information</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Name</label>
              <div class="col-md-8">
                <%= form.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Agency Type</label>
              <div class="col-md-8">
                  <%= form.select :agency_type, AGENCY_TYPES.values, {}, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Proof of Partner Status</label>
              <% if partner.proof_of_partner_status.attached? %>
                <div class="col-md-8">
                  Attached
                  file: <%= link_to partner.proof_of_partner_status.blob['filename'], rails_blob_path(partner.proof_of_partner_status), class: "font-weight-bold" %>
                  <%= form.file_field :proof_of_partner_status, class: "form-control-file form-control" %>
                </div>
              <% else %>
                <div class="col-md-8">
                  <%= form.file_field :proof_of_partner_status, class: "form-control-file" %>
                </div>
              <% end %>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Agency Mission</label>
                <div class="col-md-8">
                  <%= form.text_area :agency_mission, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Address 1</label>
                <div class="col-md-8">
                  <%= form.text_field :address1, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Address 2</label>
                <div class="col-md-8">
                  <%= form.text_field :address2, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">City</label>
                <div class="col-md-8">
                  <%= form.text_field :city, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">State</label>
                <div class="col-md-8">
                  <%= form.text_field :state, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Zip Code</label>
                <div class="col-md-8">
                  <%= form.text_field :zip_code, class: "form-control" %>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="tile">
        <h3 class="tile-title">Agency Stability</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Year Founded</label>
              <div class="col-md-8">
                <%= form.number_field :founded, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Form 990 Filed</label>
              <div class="col-md-8">
                <%= form.check_box :form_990, class: "form-control form-check-input" %>

              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Form 990</label>
              <% if partner.proof_of_form_990.attached? %>
                <div class="col-md-8">
                  Attached
                  file: <%= link_to partner.proof_of_form_990.blob['filename'], rails_blob_path(partner.proof_of_form_990), class: "font-weight-bold" %>
                  <%= form.file_field :proof_of_form_990, class: "form-control-file form-control" %>
                </div>
              <% else %>
                <div class="col-md-8">
                  <%= form.file_field :proof_of_form_990, class: "form-control-file" %>
                </div>
              <% end %>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Program Name</label>
                <div class="col-md-8">
                  <%= form.text_field :program_name, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Program Description</label>
                <div class="col-md-8">
                  <%= form.text_area :program_description, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Program Age</label>
                <div class="col-md-8">
                  <%= form.text_field :program_age, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Evidence Based</label>
                <div class="col-md-8">
                  <%= form.check_box :evidence_based, class: "form-control form-check-input" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Case Management</label>
                <div class="col-md-8">
                  <%= form.check_box :case_management, class: "form-control form-check-input" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Evidence Based Description</label>
                <div class="col-md-8">
                  <%= form.text_area :evidence_based_description, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Program Client Improvement</label>
                <div class="col-md-8">
                  <%= form.text_area :program_client_improvement, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Diaper Use</label>
                <div class="col-md-8">
                  <%= form.text_field :diaper_use, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Other Diaper Use</label>
                <div class="col-md-8">
                  <%= form.text_field :other_diaper_use, class: "form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Currently Provide Diapers</label>
                <div class="col-md-8">
                  <%= form.check_box :currently_provide_diapers, class: "form-check-input form-control" %>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-md-3">Turn Away Child Care</label>
                <div class="col-md-8">
                  <%= form.check_box :turn_away_child_care, class: "form-check-input form-control" %>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Program Address</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Address 1</label>
              <div class="col-md-8">
                <%= form.text_field :program_address1, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Address 2</label>
              <div class="col-md-8">
                <%= form.text_field :program_address2, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">City</label>
              <div class="col-md-8">
                <%= form.text_field :program_city, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">State</label>
              <div class="col-md-8">
                <%= form.text_field :program_state, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Zip Code</label>
              <div class="col-md-8">
                <%= form.number_field :program_zip_code, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Media Information</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Website</label>
              <div class="col-md-8">
                <%= form.text_field :website, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Facebook</label>
              <div class="col-md-8">
                <%= form.text_field :facebook, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Twitter</label>
              <div class="col-md-8">
                <%= form.text_field :twitter, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Organization Capacity</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Max Serve</label>
              <div class="col-md-8">
                <%= form.text_field :max_serve, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Incorporate Plane</label>
              <div class="col-md-8">
                <%= form.text_area :incorporate_plan, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Responsible Staff Position</label>
              <div class="col-md-8">
                <%= form.check_box :responsible_staff_position, class: "form-check-input form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Storage Space</label>
              <div class="col-md-8">
                <%= form.check_box :storage_space, class: "form-control form-check-input" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Storage Space Description</label>
              <div class="col-md-8">
                <%= form.text_area :describe_storage_space, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Trusted Pickup</label>
              <div class="col-md-8">
                <%= form.check_box :trusted_pickup, class: "form-control form-check-input" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Additional Documents</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group">
              <% if partner.documents.attached? %>
                <div class="row">
                  <div class="col-6">
                    Attached files:
                    <ul>
                      <% partner.documents.each do |doc| %>
                        <li><%= link_to doc.blob['filename'], rails_blob_path(doc), class: "font-weight-bold" %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="col-6">
                    <%= form.file_field :documents, multiple: true, class: "form-control-file" %>
                  </div>
                </div>
              <% else %>
                <%= form.file_field :documents, multiple: true, class: "form-control-file" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>






    </div>
    <div class="col-md-6">

      <div class="tile">
        <h3 class="tile-title">Population Served</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Income Requirement</label>
              <div class="col-md-8">
                <%= form.check_box :income_requirement_desc, class: "form-check-input form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Serve Income Cirumstances</label>
              <div class="col-md-8">
                <%= form.check_box :serve_income_circumstances, class: "form-check-input form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Income Verification</label>
              <div class="col-md-8">
                <%= form.check_box :income_verification, class: "form-check-input form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Internal Database</label>
              <div class="col-md-8">
                <%= form.check_box :internal_db, class: "form-check-input form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">MAAC</label>
              <div class="col-md-8">
                <%= form.check_box :maac, class: "form-check-input form-control" %>
              </div>
            </div>
            <h6 class="card-title font-weight-bold pt-3">Ethnic Composition of Those Served</h6>
            <div class="form-group row">
              <label class="control-label col-md-3">% African American</label>
              <div class="col-md-8">
                <%= form.number_field :population_black, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Caucasian</label>
              <div class="col-md-8">
                <%= form.number_field :population_white, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Hispanic</label>
              <div class="col-md-8">
                <%= form.number_field :population_hispanic, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Asian</label>
              <div class="col-md-8">
                <%= form.number_field :population_asian, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% American Indian</label>
              <div class="col-md-8">
                <%= form.number_field :population_american_indian, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Pacific Island</label>
              <div class="col-md-8">
                <%= form.number_field :population_island, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Multi-racial</label>
              <div class="col-md-8">
                <%= form.number_field :population_multi_racial, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Other</label>
              <div class="col-md-8">
                <%= form.number_field :population_other, class: "form-control" %>
              </div>
            </div>
            <h6 class="card-title font-weight-bold pt-3">Zip Codes Served</h6>
            <div class="form-group row">
              <label class="control-label col-md-3">Zip Codes Served</label>
              <div class="col-md-8">
                <%= form.text_field :zips_served, class: "form-control" %>
              </div>
            </div>
            <h6 class="card-title font-weight-bold pt-3">Poverty Information of Those Served</h6>
            <div class="form-group row">
              <label class="control-label col-md-3">% At FPL or Below</label>
              <div class="col-md-8">
                <%= form.number_field :at_fpl_or_below, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Above 1-2 times FPL</label>
              <div class="col-md-8">
                <%= form.number_field :above_1_2_times_fpl, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Greater than 2 times FPL</label>
              <div class="col-md-8">
                <%= form.number_field :greater_2_times_fpl, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">% Poverty Unknown</label>
              <div class="col-md-8">
                <%= form.number_field :poverty_unknown, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Ages Served</label>
              <div class="col-md-8">
                <%= form.text_field :ages_served, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="tile">
        <h3 class="tile-title">Executive Director</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Executive Director Name</label>
              <div class="col-md-8">
                <%= form.text_field :executive_director_name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Executive Director Phone</label>
              <div class="col-md-8">
                <%= form.text_field :executive_director_phone, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Executive Director Email</label>
              <div class="col-md-8">
                <%= form.text_field :executive_director_email, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Program Contact</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Program Contact Name</label>
              <div class="col-md-8">
                <%= form.text_field :program_contact_name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Program Contact Phone</label>
              <div class="col-md-8">
                <%= form.text_field :program_contact_phone, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Program Contact Cell</label>
              <div class="col-md-8">
                <%= form.text_field :program_contact_mobile, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Program Contact Email</label>
              <div class="col-md-8">
                <%= form.text_field :program_contact_email, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Diaper Pick Up Person</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Pick Up Method</label>
              <div class="col-md-8">
                <%= form.text_field :pick_up_method, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Pick Up Person Name</label>
              <div class="col-md-8">
                <%= form.text_field :pick_up_name, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Pick Up Phone</label>
              <div class="col-md-8">
                <%= form.text_field :pick_up_phone, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Pick Up Email</label>
              <div class="col-md-8">
                <%= form.text_field :pick_up_email, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Agency Distribution Information</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Distribution Times</label>
              <div class="col-md-8">
                <%= form.text_field :distribution_times, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">New Client Times</label>
              <div class="col-md-8">
                <%= form.text_field :new_client_times, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">More Docs Required</label>
              <div class="col-md-8">
                <%= form.text_field :more_docs_required, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tile">
        <h3 class="tile-title">Sources of Funding</h3>
        <div class="tile-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="control-label col-md-3">Sources Of Funding</label>
              <div class="col-md-8">
                <%= form.text_field :sources_of_funding, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Sources of Diapers</label>
              <div class="col-md-8">
                <%= form.text_field :sources_of_diapers, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Diaper Budget</label>
              <div class="col-md-8">
                <%= form.text_field :diaper_budget, class: "form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <label class="control-label col-md-3">Diaper Funding Source</label>
              <div class="col-md-8">
                <%= form.text_field :diaper_funding_source, class: "form-control" %>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row">

            <div class="form-group col-md-6">
              <%= form.submit("Update Information", class: "btn btn-primary") %>
            </div>
            <div class="form-group col-md-6">
              <%= link_to "Cancel Update", partner_requests_path, class: "btn btn-danger float-right" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>