<div class="app-title">
  <div>
    <h1><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit My Organization&nbsp;&nbsp;&nbsp;<%= partner_status_badge(@partner) %></h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="<%= dashboard_path %>"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="<%= partner_path(current_partner) %>"><%= "#{current_partner.name}" %></a></li>
    <li class="breadcrumb-item"><a href="#">Edit</a></li>
  </ul>
</div>
<%= form_with(model: partner, local: true) do |form| %>
  <div class="row">
    <div class="col-6">
      <%= render partial: "partners/edit/agency_information", locals: { form: form, partner: @partner } %>
    </div>
    <% @partner.partials_to_show.each do |partial| %>
      <div class="col-6">
        <%= render partial: "partners/edit/#{partial}", locals: { form: form, partner: @partner } %>
      </div>
    <% end %>

    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="row">
            <div class="form-group col-md-6">
              <%= form.submit("Update Information", class: "btn btn-primary") %>
            </div>
            <div class="form-group col-md-6">
              <%= link_to "Cancel Update", partner_requests_path, class: "btn btn-danger float-right" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
