<div class="app-title">
  <div>
    <% if @partner.partner_status == "recertification_required" %>
      <div class="alert alert-danger"><i class="fa fa-warning"></i>&nbsp;Please review your application details and submit for approval.</div>
    <% end %>
    <h1><i class="fa fa-building"></i>&nbsp;&nbsp;Organization Details&nbsp;&nbsp;&nbsp;<%= partner_status_badge(@partner) %></h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="<%= dashboard_path %>"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="#">View <%= "#{current_partner.name}" %></a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <% @partner.partials_to_show.each do |partial| %>
            <div class="col-6">
              <%= render "partners/show/#{partial}" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<div class="col-10 offset-1">
  <div class="tile">
    <div class="tile-body">
      <div class="row">
        <div class="form-group col-6">
          <div class="actions">
            <% if @partner.verified? %>
              <%= link_to "Request Diapers", partner_requests_path, class: 'btn btn-success' %>
            <% end %>
            <% unless @partner.verified? %>
              <%= link_to partner_approve_path(@partner), class: "btn btn-primary #{'disabled' unless @partner.pending? || @partner.partner_status == "recertification_required"}" do %>
                <i class="fa fa-paper-plane"></i> Submit for Approval
              <% end %>
            <% end %>
            <%= link_to edit_partner_path(@partner), class: 'btn btn-primary' do %>
              <i class="fa fa-pencil"></i> Update Information
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
