<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to 'Sign Out', destroy_partner_session_path, class: 'btn btn-warning', method: :delete %>
  </li>
</ul>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="actions">
    <% if @partner.verified? %>
      <%= link_to 'Request Diapers', partner_requests_path, class: 'btn btn-success' %>
    <% end %>
    <% unless @partner.verified? %>
      <%= link_to 'Submit for Approval', partner_approve_path(@partner), class: "btn btn-primary #{'disabled' unless @partner.pending?}" %>
    <% end %>
    <%= link_to 'Update Information', edit_partner_path(@partner), class: 'btn btn-primary' %>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card mb-4">
        <h5 class="card-header">Agency Information</h5>
        <div class="card-body">
          <dl>
            <dt>Name</dt>
            <dd><%= @partner.name %></dd>

            <dt>Agency Type</dt>
            <dd><%= @partner.agency_type %></dd>

            <dt>Status</dt>
            <dd><%= @partner.partner_status %></dd>

            <dt>Proof of Partner Status</dt>
            <% if @partner.proof_of_partner_status.attached? %>
              <dd>Attached
                file: <%= link_to @partner.proof_of_partner_status.blob['filename'], rails_blob_path(@partner.proof_of_partner_status), class: "font-weight-bold" %></dd>
            <% else %>
              <dd>Documentation not on file</dd>
            <% end %>

            <dt>Agency Mission</dt>
            <dd><%= @partner.agency_mission %></dd>

            <address>
              <strong>Address</strong> <br>
              <%= @partner.address1 %> <br>
              <% unless @partner.address2.blank? %> <br>
                <%= @partner.address2 %> <br>
              <% end %>
              <%= @partner.city %> <%= @partner.state %> <br>
              <%= @partner.zip_code %>
            </address>
          </dl>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">Media Information</h5>
        <div class="card-body">
          <dl>
            <dt>Website</dt>
            <dd><%= @partner.website %></dd>

            <dt>Facebook</dt>
            <dd><%= @partner.facebook %></dd>

            <dt>Twitter</dt>
            <dd><%= @partner.twitter %></dd>
          </dl>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">Agency Stability</h5>
        <div class="card-body">
          <dl>
            <dt>Year Founded</dt>
            <dd><%= @partner.founded %></dd>

            <dt>Form 990 Filed</dt>
            <dd><%= humanize_boolean(@partner.form_990) %></dd>

            <dt>Form 990</dt>
            <% if @partner.proof_of_form_990.attached? %>
              <dd>Attached
                file: <%= link_to @partner.proof_of_form_990.blob['filename'], rails_blob_path(@partner.proof_of_form_990), class: "font-weight-bold" %></dd>
            <% else %>
              <dd>Form 990 not on file</dd>
            <% end %>

            <dt>Program Name</dt>
            <dd><%= @partner.program_name %></dd>

            <dt>Program Description</dt>
            <dd><%= @partner.program_description %></dd>

            <dt>Program Age</dt>
            <dd><%= @partner.program_age %></dd>

            <dt>Case Management</dt>
            <dd><%= humanize_boolean(@partner.case_management) %></dd>

            <dt>Evidence Based</dt>
            <dd><%= humanize_boolean(@partner.evidence_based) %></dd>

            <dt>Evidence Base Description</dt>
            <dd><%= @partner.evidence_based_description %></dd>

            <dt>Program Client Improvement</dt>
            <dd><%= @partner.program_client_improvement %></dd>

            <dt>Diaper Use</dt>
            <dd><%= @partner.diaper_use %></dd>

            <dt>Other Diaper Use</dt>
            <dd><%= @partner.other_diaper_use %></dd>

            <dt>Current Providing Diapers</dt>
            <dd><%= humanize_boolean(@partner.currently_provide_diapers) %></dd>

            <dt>Turn Away Child Care</dt>
            <dd><%= humanize_boolean(@partner.turn_away_child_care) %></dd>

            <address>
              <strong>Program Address</strong> <br>
              <%= @partner.program_address1 %> <br>
              <% unless @partner.program_address2.blank? %>
                <%= @partner.program_address2 %> <br>
              <% end %>
              <%= @partner.program_city %> <%= @partner.program_state %> <br>
              <%= @partner.program_zip_code %>
            </address>
          </dl>
        </div>
      </div>
      <div class="card mb-4">
        <h5 class="card-header">Organizational Capacity</h5>
        <div class="card-body">
          <dl>
            <dt>Max Serve</dt>
            <dd><%= @partner.max_serve %></dd>

            <dt>Incorporate Plan</dt>
            <dd><%= @partner.incorporate_plan %></dd>

            <dt>Responsible Staff Position</dt>
            <dd><%= humanize_boolean(@partner.responsible_staff_position) %></dd>

            <dt>Storage Space</dt>
            <dd><%= humanize_boolean(@partner.storage_space) %></dd>

            <dt>Storage Space Description</dt>
            <dd><%= @partner.describe_storage_space %></dd>
          </dl>
        </div>
      </div>
      <div class="card mb-4">
        <h5 class="card-header">Sources of Funding</h5>
        <div class="card-body">
          <dl>
            <dt>Sources of Funding</dt>
            <dd><%= @partner.sources_of_funding %></dd>

            <dt>Sources of Diapers</dt>
            <dd><%= @partner.sources_of_diapers %></dd>

            <dt>Diaper Budget</dt>
            <dd><%= @partner.diaper_budget %></dd>

            <dt>Diaper Funding Source</dt>
            <dd><%= @partner.diaper_funding_source %></dd>
          </dl>
        </div>
      </div>
    </div>


    <div class="col-6">
      <div class="card mb-4">
        <h5 class="card-header">Population Served</h5>
        <div class="card-body">
          <dl>
            <dt>Income Requirement Description</dt>
            <dd><%= humanize_boolean(@partner.income_requirement_desc) %></dd>

            <dt>Serve Income Circumstances</dt>
            <dd><%= humanize_boolean(@partner.serve_income_circumstances) %></dd>

            <dt>Income Verification</dt>
            <dd><%= humanize_boolean(@partner.income_verification) %></dd>

            <dt>Internal DB</dt>
            <dd><%= humanize_boolean(@partner.internal_db) %></dd>

            <dt>MAAC</dt>
            <dd><%= humanize_boolean(@partner.maac) %></dd>

            <h6>Ethnic Composition of Those Served</h6>
            <dt>African American</dt>
            <dd><%= @partner.population_black %></dd>

            <dt>Caucasian</dt>
            <dd><%= @partner.population_white %></dd>

            <dt>Hispanic</dt>
            <dd><%= @partner.population_hispanic %></dd>

            <dt>Asian</dt>
            <dd><%= @partner.population_asian %></dd>

            <dt>American Indian</dt>
            <dd><%= @partner.population_american_indian %></dd>

            <dt>Pacific Islander</dt>
            <dd><%= @partner.population_island %></dd>

            <dt>Multi-racial</dt>
            <dd><%= @partner.population_multi_racial %></dd>

            <dt>Other</dt>
            <dd><%= @partner.population_other %></dd>

            <dt>Zip Codes Served</dt>
            <dd><%= @partner.zips_served %></dd>

            <h6>Poverty Information of Those Served</h6>
            <dt>At FPL or below</dt>
            <dd><%= @partner.at_fpl_or_below %></dd>

            <dt>Above 1-2 times FPL</dt>
            <dd><%= @partner.above_1_2_times_fpl %></dd>

            <dt>Greater than 2 times FPL</dt>
            <dd><%= @partner.greater_2_times_fpl %></dd>

            <dt>Poverty Unknown</dt>
            <dd><%= @partner.poverty_unknown %></dd>

            <h6>Ages Served</h6>
            <dt>Ages</dt>
            <dd><%= @partner.ages_served %></dd>
          </dl>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">Executive Director</h5>
        <div class="card-body">
          <dl>
            <dt>Name</dt>
            <dd><%= @partner.executive_director_name %></dd>

            <dt>Phone Number</dt>
            <dd><%= @partner.executive_director_phone %></dd>

            <dt>Email</dt>
            <dd><%= @partner.executive_director_email %></dd>
          </dl>

          <h6>Program Contact Person</h6>
          <dl>
            <dt>Name</dt>
            <dd><%= @partner.program_contact_name %></dd>

            <dt>Phone Number</dt>
            <dd><%= @partner.program_contact_phone %></dd>

            <dt>Mobile Phone Number</dt>
            <dd><%= @partner.program_contact_mobile %></dd>

            <dt>Email</dt>
            <dd><%= @partner.program_contact_email %></dd>
          </dl>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">Diaper Pick Up Person</h5>
        <div class="card-body">
          <dl>
            <dt>Pick Up Method</dt>
            <dd><%= @partner.pick_up_method %></dd>

            <dt>Name</dt>
            <dd><%= @partner.pick_up_name %></dd>

            <dt>Phone</dt>
            <dd><%= @partner.pick_up_phone %></dd>

            <dt>Email</dt>
            <dd><%= @partner.pick_up_email %></dd>
          </dl>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">Agency Distribution Information</h5>
        <div class="card-body">
          <dl>
            <dt>Distribution Times</dt>
            <dd><%= @partner.distribution_times %></dd>

            <dt>New Client Times</dt>
            <dd><%= @partner.new_client_times %></dd>

            <dt>More Docs Required</dt>
            <dd><%= @partner.more_docs_required %></dd>
          </dl>
        </div>
      </div>

      <div class="card mb-4">
        <h5 class="card-header">Attached Documents</h5>
        <div class="card-body">
          <% if @partner.documents.attached? %>
            <dt>Attached files:</dt>
            <% @partner.documents.each do |doc| %>
              <dd><%= link_to doc.blob['filename'], rails_blob_path(doc), class: "font-weight-bold" %></dd>
            <% end %>
          <% else %>
            <dd>No files saved</dd>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <% if @partner.verified? %>
      <%= link_to 'Request Diapers', partner_requests_path, class: 'btn btn-success' %>
    <% end %>
    <% unless @partner.verified? %>
    <%= link_to 'Submit for Approval', partner_approve_path(@partner), class: "btn btn-primary #{'disabled' unless @partner.pending?}" %>
    <% end %>
    <%= link_to 'Update Information', edit_partner_path(@partner), class: 'btn btn-primary' %>
  </div>
</div>
