<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to 'Account', edit_partner_path(@partner), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign Out', destroy_partner_session_path, class: 'nav-link', method: :delete %>
  </li>
</ul>

<p id="notice"><%= notice %></p>
<p>
  <%= @partner.name  %><br>
  <%= @partner.executive_director_name  %><br>
  <%= @partner.email  %><br>
  Status: <%= @partner.partner_status %>
</p>

<div class="actions">
  <% if @partner.verified? %>
    <%= link_to 'New Request', new_partner_request_path, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Submit for Approval', partner_approve_path(@partner), class: "btn btn-primary #{'disabled' unless @partner.pending?}" %>
</div>
