<div class="tile">
  <h3 class="tile-title">Agency Information</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">Agency Name</label>
        <div class="col-md-8">
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Agency Type</label>
        <div class="col-md-8">
            <%= form.select :agency_type, AGENCY_TYPES.values, {}, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row" id="other_agency_input" style="display:none">
        <label class="control-label col-md-3">Other Agency Type</label>
        <div class="col-md-8">
          <%= form.text_field :other_agency_type, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">501(c)(3) IRS Determination Letter</label>
        <% if partner.proof_of_partner_status.attached? %>
          <div class="col-md-8">
            Attached
            file: <%= link_to partner.proof_of_partner_status.blob['filename'], rails_blob_path(partner.proof_of_partner_status), class: "font-weight-bold" %>
            <%= form.file_field :proof_of_partner_status, class: "form-control-file form-control" %>
          </div>
        <% else %>
          <div class="col-md-8">
            <%= form.file_field :proof_of_partner_status, class: "form-control-file" %>
          </div>
        <% end %>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Description of Agency Mission</label>
          <div class="col-md-8">
            <%= form.text_area :agency_mission, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Address 1</label>
          <div class="col-md-8">
            <%= form.text_field :address1, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Address 2</label>
          <div class="col-md-8">
            <%= form.text_field :address2, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">City</label>
          <div class="col-md-8">
            <%= form.text_field :city, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">State</label>
          <div class="col-md-8">
            <%= form.text_field :state, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Zip Code</label>
          <div class="col-md-8">
            <%= form.text_field :zip_code, class: "form-control" %>
          </div>
        </div>
    </div>
  </div>
</div>
