<div class="tile">
  <h3 class="tile-title">Executive Director</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">Executive Director Name</label>
        <div class="col-md-8">
          <%= form.text_field :executive_director_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Executive Director Phone</label>
        <div class="col-md-8">
          <%= form.text_field :executive_director_phone, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Executive Director Email</label>
        <div class="col-md-8">
          <%= form.text_field :executive_director_email, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tile">
  <h3 class="tile-title">Program Contact</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">Program Contact Name</label>
        <div class="col-md-8">
          <%= form.text_field :program_contact_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Program Contact Phone</label>
        <div class="col-md-8">
          <%= form.text_field :program_contact_phone, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Program Contact Cell</label>
        <div class="col-md-8">
          <%= form.text_field :program_contact_mobile, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Program Contact Email</label>
        <div class="col-md-8">
          <%= form.text_field :program_contact_email, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
