<div class="app-title">
  <div>
    <h1><i class="fa fa-edit"></i> Pickup Sheet</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-scroll fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">Pickup Sheet</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12">
        <div class="card mb-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Child's name</th>
                <th scope="col">Authorized Family Member</th>
                <th scope="col">Quantity Ordered</th>
                <th scope="col">Quantity Picked Up</th>
                <th scope="col">Item Ordered</th>
                <th scope="col">Item Picked Up</th>
                <th scope="col">Picked up</th>
              </tr>
            </thead>
            <tbody>
              <% child_item_requests.each do |child_item_request| %>
                <% child = child_item_request.child %>
                <tr>
                  <td colspan="7" id="flash-message-container-nested-<%= child_item_request.id%>">
                  </td>
                </tr>
                <tr>
                  <td><%= child.display_name %></td>
                  <td>
                    <%= select_tag :authorized_family_member_id,
                      options_from_collection_for_select(
                        child.family.authorized_family_members,
                        :id,
                        :display_name,
                        selected: child.family.authorized_family_members.find_by(id: child_item_request.authorized_family_member_id)&.id
                      ),
                      {
                        include_blank: "(Select Member)",
                        data: {
                          url: child_item_requests_authorized_family_member_picked_up_path(child_item_request.id),
                          remote: true,
                          method: :post
                        }
                      }
                    %>
                  </td>
                  <td><%= child_item_request.quantity %></td>
                  <td>
                    <%= text_field_tag(
                      :quantity_picked_up,
                      child_item_request.quantity_picked_up || child_item_request.quantity,
                      data: {
                        url: child_item_requests_quantity_picked_up_path(child_item_request.id),
                        remote: true,
                        method: :post
                      }
                    ) %>
                  </td>
                  <td><%= item_id_to_display_string_map[child_item_request.child.item_needed_diaperid] %></td>
                  <td>
                    <%= select_tag :picked_up_item_diaperid,
                      valid_items_for_select_tag(
                        valid_items,
                        child_item_request.picked_up_item_diaperid,
                        child_item_request.child.item_needed_diaperid
                      ),
                      {
                        data: {
                          url: child_item_requests_item_picked_up_path(child_item_request.id),
                          remote: true,
                          method: :post
                        }
                      }
                    %>
                  </td>
                  <td>
                    <div class="toggle lg">
                      <label>
                        <%= check_box_tag 'Picked Up',
                          child_item_request.picked_up,
                          child_item_request.picked_up, 
                          data: {
                            url: child_item_requests_toggle_picked_up_path(child_item_request.id),
                            remote: true,
                            method: :post
                          }
                        %>
                        <span class="button-indecator"></span>
                      </label>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
