<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Story Title</th>
    <th scope="col">Date Created</th>
    <th scope="col">Content</th>
    <th scope="col" colspan="2">
      <%# link_to 'Export Results To CSV', families_path(nil, format: :csv), class: "btn btn-info pull-right" %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @impact_stories.each do |story| %>
    <tr>
      <td><%= story.title %></td>
      <td><%= story.created_at.strftime("%B %-d %Y") %></td>
      <td><%= story.blurb(30) %></td>
      <td><%= link_to 'View Story', story, class: "btn btn-sm btn-info pull-right" %></td>
      <td><%= link_to 'Edit Story Details', edit_impact_story_path(story), class: "btn btn-sm btn-success pull-right" %></td>
  <% end %>
  </tbody>
</table>
