<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Impact Story - #{current_partner.name}" %>
        <h1><i class="fa fa-user-plus"></i>&nbsp;&nbsp;
          Edit Impact Story
          <small>for <%= current_partner.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-home fa-lg"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><a href="<%= impact_stories_path %>">All Impact Stories</a></li>
          <li class="breadcrumb-item">
            <a href="<%= impact_story_path(@impact_story) %>">The <%= "#{@impact_story.title}" %> Story</a></li>
          <li class="breadcrumb-item"><a href="#">Edit</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<%= render 'form', impact_story: @impact_story %>