<div class="app-title">
  <div>
    <h1><i class="fa fa-edit"></i> Diaper Bank Requests</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">My Requests</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <% if notice %>
    <div class="alert alert-dismissible alert-success">
      <button class="close" type="button" data-dismiss="alert">×</button>
      <p><%= notice %><a class="alert-link" href="#"></p>
      </a></p>
    </div>
      <% end %>
    <div class="tile">
      <h3>Diaper Request History</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Contents</th>
          <th scope="col">Request Date</th>
        </tr>
        </thead>
        <tbody>
        <% @partner_requests.each do |partner_request| %>
          <tr>
            <th scope="row"><%= link_to partner_request.id, partner_request_path(partner_request) %></th>
            <td><%= partner_request.item_requests.map {|item| "#{item.quantity} of #{item.name}"}.join(", ") %></td>
            <td><%= partner_request.created_at.strftime("%B %-d %Y") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <hr>

      <div class="actions">
        <% if @partner.verified? %>
          <%= link_to 'Create New Bulk Diaper Request', new_partner_request_path, class: 'btn btn-primary' %>
        <% end %>
        <% if @partner.verified? && @partner.family_request_active? %>
          <%= link_to 'Create New Family Diaper Request', new_family_request_path, class: 'btn btn-primary' %>
        <% end %>
      </div>


    </div>
  </div>
</div>
