<div class="app-title">
  <div>
    <h1><i class="fa fa-edit"></i> New Diaper Bank Request</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a href="#">New Request</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <% if notice %>
      <div class="alert alert-dismissible alert-success">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <p><%= notice %><a class="alert-link" href="#"></p>
        </a></p>
      </div>
    <% end %>
    <div class="tile">
      <%= form_with(model: @partner_request, local: true) do |form| %>
        <% if @partner_request.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@partner_request.errors.count, "error") %> prohibited this request from being saved:</h2>

            <ul>
              <% @partner_request.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


        <div class="form-group">
          <%= form.label(:comments) %>
          <%= form.text_area :comments, class: 'form-control' %>
        </div>

        <table class='table'>
          <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th></th>
          </tr>
          </thead>
          <tbody class='fields'>
          <%= form.fields_for :item_requests do |builder| %>
            <%= render 'item_request', form: builder %>
          <% end %>
          </tbody>
        </table>

        <div>
          <%= link_to_add_row('Add Another Item', form, :item_requests, class: 'btn btn-outline-primary') %>
        </div>

        <hr>

        <div class="actions">
          <!-- TODO(chaserx): we should add some js to prevent submission if the items selected are the blank option or any item has an empty quantity -->
    <%= form.submit("Submit Diaper Request", class: "btn btn-primary") %> <%= link_to "Cancel Request", partner_requests_path, class: "btn btn-danger" %>
        </div>
      <% end %>


    </div>
  </div>
</div>
