<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to 'Account', edit_partner_path(current_partner), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign Out', destroy_partner_session_path, class: 'nav-link', method: :delete %>
  </li>
</ul>

<h1>Thanks</h1>

<% if @partner_request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@partner_request.errors.count, "error") %></h2>

    <ul>
    <% @partner_request.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
  Request ID: <%= @partner_request.id %>
  <p><%= @partner_request.partner.name %></p>
</div>

<div>
  Comments:
  <p><%= @partner_request.comments  %></p>
</div>

<div>
  Requested Items:
  <ul>
    <% @partner_request.items.each do |item| %>
      <li><%= item.quantity %> of <%= POSSIBLE_ITEMS[item.name] %></li>
    <% end %>
  </ul>
</div>

<div>
  <p>Submitted: <%= @partner_request.created_at.localtime.strftime('%F %T') %></p>
</div>

<div>
  <p><%= link_to "New Request",  new_partner_request_path, class: 'btn btn-primary' %></p>
  <p><%= link_to "Your Previous Requests", partner_requests_path, class: 'btn btn-secondary' %></p>
</div>

