<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partner Base</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body class="app sidebar-mini rtl">
    <main class="app-content">
      <%= render partial: "layouts/navbar" %>
      <%= render partial: "layouts/sidebar" %>
      <div id="flash-message-container">
        <%= render partial: "shared/flash"  %>
      </div>
      <%= yield %>
      <%= render partial: "layouts/footer" %>
    </main>
  </body>
</html>
